 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    height: 100%;
    background-color: rgb(164, 166, 111);
    background-image: url(Kris.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -300px;
}


.header{
    display: flex;
    width: 100%;
    height: 45px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px;
    background-color: rgb(78, 5, 5);
}

.header h2{
    color: rgb(233, 198, 189);
}
.header ul li {
    font-size: x-large;
    margin-right: 20px;
    display: inline;
}
.header a{
    text-decoration: none;
    color: rgb(233, 189, 189);

}
.header a:hover{
    border-radius: 20%;
    transition-duration: 2s;
    transform: scale(1,2);
    background-color: rgb(137, 41, 41); 
}

.paragrap{
    width: 90%;
    height: 200px;
    border-style:double ridge double;
    border-width: 5px; /* jika di gabung pakai border: 5px dll; jika di pisah pakai sesuai contoh*/
    border-color: rgb(78, 5, 5);
    display: flex;
    flex-direction: row; /* sebagai catatan aja*/
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px auto;
    color: rgb(233, 198, 189);
}

.paragrap div {
    width: 48%;/* lebar di atau agar sesuai keinginan yaitu kalimat mengisi kiri dan kanan*/
}
.story {
    text-align:left;/* memngatur tulisan*/
    margin-left: 20px;/* memberi jarak pada margin kiri */
}
.hobi {
    text-align: right;/*sama*/
    margin-right: 20px;
}
#flex{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;

}
table{
    border-collapse:collapse;/*menghilangkan penumpukan garis batas*/
    width: 1000px;
    height: 150px;
    margin: 20px;
    font-family: arial,sans-serif;
    background-color: brown;
}

th,td{
    border-width: 4px;
    border-style: ridge solid ridge;
    border-color: rgb(78, 5, 5);
    text-align: center;
    color: rgb(233, 198, 189);
}
thead{
    font-weight: bold;
    background-color: rgb(248, 8, 8);
}
tfoot th{
    text-align: right;
}
.form-pencarian{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    border-collapse: collapse;
    
}
.tbaru tr td{
    text-align: left;
    border-width: 4px;
    border-color: rgb(129, 129, 135);
    border-style: ridge solid ridge;
    text-align: center;
}
.submit{
    width:100% ;
    height: 30px;
}

@media  screen and (max-width: 600px) {

    .header li a{
        color: aqua;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
}
@media screen and(max-width:1200px){
    
}



